.disabled {
  opacity: 0.3;
}

.wrapper {
  margin: 20px 10px;
}

.body {
  display: flex;
  align-items: center;
  margin: 0.5em 0;

  > * {
    margin: 0 0.5em;
  }

  [type="text"] {
    border: none;
    border-bottom: 1px solid #eee;
    padding: 5px 0;
    outline: none;

    &:focus,
    &:active {
      border-color: #00B4CC;
    }
  }
}
