.filepond--wrapper {
  width: 40px;
}

.filepond--root {
  margin: 0;
}

.filepond--root .filepond--drop-label {
  min-height: 20px;
  font-size: 14px !important;
}

.filepond--panel {
  display: none;
}

.filepond--drip {
  background: none;
  border-radius: 2px;
}

