.wrapper {
  border-bottom: 1px solid #eee;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
}

.list {
  margin: 0;
  list-style: none;
  padding: 15px;
  display: flex;
  align-items: center;
}

.listItem {
  margin: 0 10px;
}

.firstListItem {
  margin-right: auto;
}
