.list {
  position: relative;
  list-style: none;
  margin: 0 0 20px;
  padding: 0 0 0 20px;

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 9px;
    width: 3px;
    background: #AAFF00;
  }

  & &::before {
    background: #FFAA00;
  }

  & & &::before {
    background: #FF00AA;
  }

  & & & &::before {
    background: #AA00FF;
  }

  & & & & &::before {
    background: #00AAFF;
  }
}

.listItem {
  //
}
